{% extends 'base.html' %}

{% load static %}

{% block title %} | About {% endblock %}

{% block content %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> FAQ</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
            <h4>Frequently Asked Questions (“FAQ”)</h4>  
                <ul>
                    <li>
                        <h6>Do I have to travel to Turkey to start Turkish Citizenship procedures?</h6>
                        <p>
                            No. You can open the bank account remotely, and also finalize the property 
                            transfer as well as other necessary tasks remotely. You can task us to proceed
                             on behalf of you with a PoA (Power of Attorney) which will enable us to open 
                             your bank account, property sale transfer as well as further Turkish Citizenship 
                             application procedures without your travel to Turkey.            
                        </p>
                        
                    </li>

                    <li>
                        <h6>Do you offer Approved Properties for Turkish Citizenship?</h6>
                        <p>
                            Yes. We offer Properties Approved for TCBI program.
                             Property consultants and immigration lawyers associated with
                              us ensure that your investments qualify for TCBI program.
                               This is applicable for properties bought through us.
                        </p>
                        
                    </li>

                    <li>
                        <h6>For TCBI program, can I buy more than one property with total investment of $250,000?</h6>
                        <p>
                            Yes. TCBI program allows the investors/main applicants to invest into multiple properties/units,
                             provided that the total amounts exceed $250k USD, you can proceed with the ownership of multiple
                              properties.

                        </p>
                        
                    </li>

                    <li>
                        <h6>How is a property evaluated to become eligible for application of Turkish Citizenship?
                        </h6>
                        <p>
                            The property/ properties are independently verified and valued by Govt Approved Valuer.
                             Valuation of property or properties should be more than $250,000 and the same amount
                              should be reflected to have been paid through your bank account.
                              We offer you properties which have pre-approved valuation reports and therefore, secure your investments.
                        </p>
                    </li>

                    <li>
                        <h6>Is the Turkish citizenship acquired/valid for life?</h6>
                        <p>
                            Yes, once the Turkish citizenship acquired, it will be valid
                             for life and it would be valid for the next generations as well.
                        </p>    
                    </li>

                    <li>
                        <h6>Do the applicants have to reside in Turkey for a certain period of time at any stage of the application?
                        </h6>

                        <p>
                            No, there is no residency requirement in Turkey either during the application process or after obtaining Turkish citizenship. You can keep living abroad before or after obtaining Turkey citizenship.

                        </p>
                    </li>

                    <li>
                        <h6>
                            How many times will the applicants need to travel to Turkey during the whole application process?
                        </h6>
                        <p>
                            Ideally it is advisable to visit Turkey first for the initial procedures and then secondly once the citizenship is obtained for submission of fingerprints. However, if you are not able to travel to Turkey, we can then advise you on your Turkish Citizenship application without your visit required to Turkey, though certain conditions will apply.
                        </p>

                    </li>

                    <li>
                        <h6>
                            How many family members can apply for citizenship along with the Main Applicant?
                        </h6>
                        <p>
                            It is possible to obtain Turkish citizenship for the Investor (Main Applicant) as well as for all family members: spouse (wife) and children below 18 years old. There is actually no limitation on the total number of family members (applicants). However Children above 18 years old, and parents can be taken on temporary resident permit which is renewable.
                        </p>
                    </li>

                    <li>
                        <h6>
                            Is there any language requirement to apply for Turkish Citizenship?
                        </h6>
                        <p>
                            There is no Turkish language knowledge requirement to apply for Turkey’s citizenship by investment program.
                        </p>
                    </li>

                    <li>
                        <h6>
                            What are tax liabilities for Turkish citizen working or staying outside of Turkey?
                        </h6>
                        <p>
                            Turkey will not tax you for your income abroad. In principle, you would not be liable to pay taxes in Turkey if you do not reside inside Turkey for more than 6 months. Nonetheless, the exemption to this could be if/when you would earn a regular income inside Turkey; for example if you would rent out your investment property, and if/when 
                            you are earning rental gains, then you would be subject to pay taxes arising of such income. 
                        </p>
                    </li>

                    <li>
                        <h6>Once being granted for Turkish citizenship, is it compulsory to exercise military services in Turkey?</h6>
                        <p>
                            As a rule, Turkish Citizenship by Investment Investors (Main Applicants) who are aged over 22 years old are all exempted of military in Turkey. Therefore you will not be liable to exercise military service after you would obtain Turkish Citizenship if you are over 22..
                                However, male children would be later liable with Turkish military service once after they would be over 18 years old. But with the recent changes made in Turkish law, it is possible to be exempted of military service in Turkey by paying a fee of around $6000 USD to the relevant Turkish Authorities.

                        </p>
                    </li>

                    <li>
                        <h6>Is there an official legislation for the Turkish Citizenship by Investment Program?</h6>
                        <p>
                            Yes. The investment amount as well as the scope of the Turkish Citizenship by Investment Program was laid down in Turkish Official Gazette and introduced back on 18th September 2018. You can review the  website of the <a href="https://www.invest.gov.tr/en/investmentguide/pages/acquiring-property-and-citizenship.aspx">Investment Office of the Presidency of the Republic of Turkey</a> for further information
                        </p>
                        
                    </li>
                </ul>


    </div>
    </div>
  </section>

{% endblock %}