{% extends 'base.html' %}

{% load static %}

{% block title %} | About {% endblock %}

{% block content %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Migrate</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
            <h4>Turkish Citizenship By Investment (TCBI)</h4>
            <h5>Program Routes</h5>
            <p>The Regulation Regarding Application of Turkish Citizenship Code was amended on
                18th September 2018. Turkish immigration law allows foreign persons to obtain Turkish
                Citizenships together with their family members (spouse and children below 18 years)
                without any obligation to reside in Turkey, provided they make investments in Turkey as follows:</p>
            
                <ul>
                    <li>
                        <h6>Route (A)</h6>
                        <p>
                            Buy any property worth $250,000: This is the simplest route to
                        Turkish Citizenship. It stipulates that a minimum amount of property investment
                        shall be made for $250.000 USD (or the equal value in Turkish Lira). This
                        property can be residential, commercial or office space. In approximately four
                        months from the date of title deed registry, you can have Turkish Passport in
                        your hand without any need to surrender current passport or any obligation to
                        stay or work in Turkey. The property bought could be self-occupied or leased
                        out with only condition that it may not be sold for next three years. After three
                        years, the property can be sold without any implication on your rights as
                        Turkish Citizen. Bingo! Turkey welcomes you with open heart.            
                        </p>
                        
                    </li>

                    <li>
                        <h6>Route (B)</h6>
                        <p>
                            Deposit $500,000 in Turkish Bank: This route requires a deposit of
                            $500.000 USD (or the equal value in Turkish Lira) for 3 years in one of the
                            Turkish Banks.
                        </p>
                        
                    </li>

                    <li>
                        <h6>Route (C)</h6>
                        <p>
                            $500,000 Fixed Capital Investment: This route requires that a fixed
                            capital investment of $500.000 USD (or the equal value in Turkish Liras). This
                            investment shall be confirmed by the Turkish Ministry of Industry and
                            Technology.
                        </p>
                        
                    </li>

                    <li>
                        <h6>Route (D)</h6>
                        <p>
                            $500,000 Government Bond: This route for Turkish Citizenship
                        needs purchase of Turkish Government Bonds and Bills of $500.000 USD on
                        the condition to hold them for at least 3 years and needs to be confirmed by the
                        Ministry of Treasury and Finance of Turkey.
            
                        </p>
                    </li>

                    <li>
                        <h6>Route (E)</h6>
                        <p>
                            $500,000 of Real Estate Trust: This route envisagesTurkish
                        Citizenship acquisition by making an investment into a Turkish real estate
                        investment trust, or alternatively with purchasing the shares of a Turkish
                        Venture Capital Investment Fund with a minimum amount of $500.000 USD.
                        
                        </p>    
                    </li>
                </ul>

        </div>
            <hr>
        <div class="col-md-8">
            <h5>Why Turkey?</h5>
                <ul>
                    <li>
                        <p>
                            Turkey has GDP per Capita ($9270) which is almost five times more than that of
                            Indian GDP per Capita ($2120). This means that average Turkish national is
                            five times richer than average Indian which is a measure of better quality of life
                            in Turkey.
                        </p>
                        
                    </li>

                    <li>
        
                        <p>
                            Turkey has Best Mediterranean Climate throughout the year. No Dust. Pollution
                            Free air and Water. No Heat Wave. Moderate temperatures.
                        </p>
                        
                    </li>

                    <li>
                        
                        <p>
                            Low Crime Rate and Absence of Hate Crime. Offers Safe family living condition
                            with abundant growth opportunities.
                        </p>
                        
                    </li>

                    <li>
                        
                        <p>
                            World’s biggest tourist center: Speaks about its peacefulness, cultural tolerance
                            and hospitality of its people. 
                        </p>
                    </li>

                    <li>
                        
                        <p>
                            World’s most scenic beaches and mountains.
                        </p>    
                    </li>

                    <li>
                        <p>
                            High Quality of Life and low cost of living.
                        </p>
                    </li>

                    <li>
                        <p>
                           Ease of Business: Turkey sits in the center of the world connects Asia, Europe
                            and Africa.
                        </p>
                    </li>

                    <li>
                        <p>
                            G20, NATO Member,Prospective Visa free travel to EU (Schengen zone) for all Turkish Citizens, and Easy to obtain long-term, multiple entry visa to EU, US, Canada, UK and
                            Australia for Turkish citizens
                        </p>
                    </li>
                </ul>
        </div>

    </div>
    </div>
  </section>

{% endblock %}